<h2>Welcome to Pizza Shop!</h2>
<button class="btn btn-primary btn-large" onclick="something()">Click me!</button>


  <div class="row">
    <div class="col-xs-4">
     <span >hello</span>
    </div>
    <div class="col-xs-4">
      One of three columns
    </div>
    <div class="col-xs-4">
      One of three columns
    </div>
  </div>

